.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100%;
  background: white;
  box-shadow: 10px 1px 20px rgba(3, 3, 3, 0.178);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 1.5rem;
  }
}

.active-library{
  transform: translateX(0%);
  opacity: 1;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  transition: all 0.4s ease;
  cursor: pointer;
  img {
    width: 25%;
    border-radius: 5%;
  }
  &:hover {
    background-color: #8278bd46;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}


.selected{
  background-color:#8172a752
}

@media screen and (max-width: 768px) {
  .library{
    width: 100%;
  }
}